:root {
  --color-primary: #59923a; /*for buttons and headers*/
  --bg-color: #505050; /*background color*/
  --section-bg-color: #737373; /*bg color for section*/
  --text-color-accent: #ffffff; /*text color for headers*/
  --text-color: #ffffff; /*text color*/
  --banner-text-color: #ffffff;
  --banner-bg-color: #05071d;
}

@font-face {
  font-family: "BannerFont";
  src: url("./fonts/Sarina-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MainFont-Bold";
  src: url("./fonts/FunnelSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MainFont-Reg";
  src: url("./fonts/FunnelSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MainFont-Light";
  src: url("./fonts/FunnelSans-Light.ttf") format("truetype");
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
}

h1,
h2,
h3 {
  font-family: "MainFont-Bold", sans-serif;
}

p,
span {
  font-family: "MainFont-Reg", sans-serif;
}

button {
  background-color: white;
  font-family: "MainFont-Reg", sans-serif;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  margin: 2px;
  border: 0px;
}

button:hover {
  background-color: #f5f3f3;
}

.headerBanner {
  width: 100%;
  height: 70px;
  background-color: var(--banner-bg-color);
  color: var(--banner-text-color);
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: clamp(5px, 2.5vw, 18px);
  border-bottom: #ffffff 2px solid;
}

.headerBanner h1 {
  font-family: "BannerFont", sans-serif;
}

.headerBanner img {
  width: clamp(50px, 10vw, 80px);
  height: auto;
}

#moviesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.movie-card {
  background: #bdbdbd;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  width: 220px;
  padding: 0;

  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
}

.movie-card:hover {
  transform: scale(1.02);
  background: #e0dfdf;
}

.movie-card img {
  width: 100%;
  display: block;
  border-bottom: 2px solid #444;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.movie-info {
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow-y: auto;
  background-color: var(--banner-bg-color);
  color: var(--banner-text-color);
  border: #ffffff 2px solid;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  position: relative;
}

.modalMovieInfo {
  display: flex;
  flex: 1 1 250px;
  width: 80%;
  flex-direction: column;
  text-align: left;
}

.modalPoster {
  border-radius: 4px;
  margin-right: 20px;
}

.close {
  position: absolute;
  right: 14px;
  top: 8px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.choice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  background-color: #e0dfdf;
  border-radius: 4px;
  margin: 4px;
}

.choice-card {
  display: flex;
  flex: 1 1 200px;
  padding: 6px;
  width: 40vw;
  height: 20vh;
  flex-direction: column;
}

.choice-card h3 {
  display: flex;
  height: 40%;
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: #fffdfd 2px solid;
}

.choice-card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.releaseDate-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  background-color: white;
  border: #e0dfdf 2px solid;
  border-radius: 4px;
  font-family: "MainFont-Reg", sans-serif;
  height: 30px;
}

select {
  background-color: white;
  font-family: "MainFont-Reg", sans-serif;
  height: 30px;
  border-radius: 4px;
  border: #e0dfdf 2px solid;
}

#error-message {
  color: red;
  display: none;
}
